<div id="<%= dom_id post %>">
  <h2><%= post.title %></h2>
  <<h4>posted by <%= link_to post.user.name, user_path(post.user) %></h4>
  <h6><%= pluralize post.views, "view" %></h6>
  <div>
    <%= post.content %>
  </div>
  <p>
    Posted <%= time_tag post.created_at, "data-local": "time-ago"%>
  </p>
  <p>
    <strong><%= pluralize post.comments.count, "comment" %></strong>
  </p>


</div>
 