<div id="<%= dom_id post %>">
  <h2><%= post.title %></h2>
  <div>
    <%= post.content %>
  </div>
  <p>
    Posted <%= time_tag post.created_at, "data-local": "time-ago"%>
  </p>
  <p>
    <strong><%= pluralize post.comments.count, "comment" %></strong>
  </p>


</div>
